data/sähkötarvike-puuttuu-tarvike-ja-osoite.xml

<!ELEMENT tarvikkeet (toimittaja,tarvike*)>
<!ELEMENT tarvike (ttiedot)>
<!ELEMENT ttiedot (id, nimi, merkki, tyyppi, hinta, yksikko)>
<!ELEMENT toimittaja (toim_nimi,osoite?)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT nimi (#PCDATA)>
<!ELEMENT merkki (#PCDATA)>
<!ELEMENT tyyppi (#PCDATA)>
<!ELEMENT hinta (#PCDATA)>
<!ELEMENT yksikko (#PCDATA)>
<!ELEMENT toim_nimi (#PCDATA)>
<!ELEMENT osoite (#PCDATA)>

<tarvikkeet>
    <toimittaja>
        <toim_nimi>Toimittaja 1</toim_nimi>
    </toimittaja>
</tarvikkeet>
