data/tarvike-junk_co.xml

<!ELEMENT tarvikkeet (toimittaja,tarvike*)>
<!ELEMENT tarvike (ttiedot)>
<!ELEMENT ttiedot (id, nimi, merkki, tyyppi, hinta, yksikko)>
<!ELEMENT toimittaja (toim_nimi,osoite?)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT nimi (#PCDATA)>
<!ELEMENT merkki (#PCDATA)>
<!ELEMENT tyyppi (#PCDATA)>
<!ELEMENT hinta (#PCDATA)>
<!ELEMENT yksikko (#PCDATA)>
<!ELEMENT toim_nimi (#PCDATA)>
<!ELEMENT osoite (#PCDATA)>

<tarvikkeet>
    <toimittaja>
        <toim_nimi>Junk Co</toim_nimi>
        <osoite>www.thebestgoods.com</osoite>
    </toimittaja>
    <tarvike>
        <ttiedot>
            <id>1</id>
            <nimi>sahkokeskus</nimi>
            <merkki>Elite</merkki>
            <tyyppi>Sähkökeskukset ja ryhmäkeskukset</tyyppi>
            <hinta>300</hinta>
            <yksikko>kpl</yksikko>
        </ttiedot>
    </tarvike>
    <tarvike>
        <ttiedot>
            <id>2</id>
            <nimi>Palohälytin</nimi>
            <merkki>Xiangling Shenzhen Specialty Co.</merkki>
            <tyyppi>palohälytin</tyyppi>
            <hinta>4</hinta>
            <yksikko>kpl</yksikko>
        </ttiedot>
    </tarvike>
    <tarvike>
        <ttiedot>
            <id>3</id>
            <nimi>Munakello</nimi>
            <merkki>Valuable Goods Mfg Co.</merkki>
            <tyyppi>hälyttimet ja ajastimet</tyyppi>
            <hinta>4,50</hinta>
            <yksikko>kpl</yksikko>
        </ttiedot>
    </tarvike>
</tarvikkeet>
